@import 'tailwindcss';
/* @config '../tailwind.config.js'; */
@layer theme, base, components, utilities;

/* theme changes based on data-theme attribute on <html> tag */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import "./theme.css" layer(theme);


@layer base {
  * {
    @apply m-0 p-0 box-border scroll-smooth;
  }

  body {
    overflow: hidden;
  }

  img {
    pointer-events: none;
  }

  button, img {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
  }
}

@layer components {
  #root {
    @apply relative overflow-y-auto h-screen;
  }
  
  .max-container {
    max-width: var(--breakpoint-wide);
    margin: 0 auto;
  }

  .bg-hero {
    background-image: var(--bg-hero);
    @apply bg-center bg-cover;
  }

  .bg-card {
    background-image: var(--bg-card);
    @apply bg-center bg-cover;
  }

  .heading-text {
    @apply font-palanquin capitalize text-4xl font-bold text-black dark:text-white-400;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-hidden sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }

  .ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    background: rgba(255, 255, 255, 0.5);
    animation: var(--animate-ripple);
  }
}

/* True utility classes */
@utility product-card {
  @apply flex flex-1 flex-col w-full max-sm:w-full cursor-pointer rounded-2xl shadow-sm px-5 py-5;

  @variant dark {
    @apply bg-pale-blue;
  }

  @variant hover {
    @apply shadow-slate-gray/60 transition-all -translate-y-[1px] duration-500 ease-in;
  }

  @variant active {
    @apply shadow-slate-gray/60 transition-all -translate-y-[1px] duration-500 ease-in;
  }
}

@utility service-card {
  @apply flex-1 sm:w-[350px] sm:min-w-[350px] w-full rounded-[20px] shadow-3xl shadow-slate-gray/40 px-10 py-16;

  @variant dark {
    @apply bg-pale-blue;
  }
}

@utility icon-small {
  @apply rounded-full w-5 h-5;
}

@utility animate-enlarge {
  @apply transition delay-150 duration-300 ease-in hover:-translate-y-[1px] hover:scale-102;
}

@utility button-base {
  @apply flex justify-center items-center gap-2 px-7 py-4 border font-montserrat text-lg leading-none rounded-full cursor-pointer   relative overflow-hidden shadow   animate-enlarge;
}

@utility button-primary {
  @apply button-base bg-accent border-3 border-accent-light text-white;

  @variant hover {
    @apply shadow-3xl shadow-accent/40;
  }

  @variant active {
    @apply shadow-3xl shadow-accent/40;
  }
}

@utility button-outline {
  @apply button-base bg-white text-slate-gray border-3 border-slate-gray/20 px-10;

  @variant hover {
    @apply shadow-3xl shadow-slate-gray/40;
  }

  @variant active {
    @apply shadow-3xl shadow-slate-gray/40;
  }

  @variant dark {
    @apply border-pale-blue shadow-3xl shadow-slate-gray/30 text-white-400;
  }
}
[data-theme="light"] { 
  /* customize a background color of ripple effect for the outline button */
  .button-outline .ripple {
    @apply bg-slate-gray/20;
  }
}

@utility theme-switcher {
  @apply mr-3 cursor-pointer font-medium rounded-full text-gray-900 bg-gray-200 focus:outline-none dark:text-neutral-200 dark:bg-pale-blue relative overflow-hidden shadow;

  @variant hover {
    @apply shadow-sm shadow-slate-gray/30;
  }
  @variant active {
    @apply shadow-sm shadow-slate-gray/30;
  }

  @variant dark {
    @variant hover {
      @apply shadow-slate-gray/50;
    }

    @variant active {
      @apply shadow-slate-gray/50;
    }
  }
}

@utility padding {
  @apply sm:px-16 px-8 sm:py-24 py-12;
}

@utility padding-x {
  @apply sm:px-16 px-8;
}

@utility padding-y {
  @apply sm:py-24 py-12;
}

@utility padding-t {
  @apply sm:pt-24 pt-12;
}

@utility padding-b {
  @apply sm:pb-24 pb-12;
}

@utility padding-l {
  @apply sm:pl-16 pl-8;
}

@utility padding-r {
  @apply sm:pr-16 pr-8;
}