@import 'tailwindcss';
/* @config '../tailwind.config.js'; */
@layer theme, base, components, utilities;

@import "./theme.css" layer(theme);


@layer utilities {
  
  .max-container {
    max-width: var(--breakpoint-wide);
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-hidden sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
  
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }
  
  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .section-margin-l {
    @apply max-sm:ml-8 max-xl:ml-16 xl:ml-0;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

  .bg-hero {
    background-image: var(--bg-hero);
    @apply bg-center bg-cover;
  }

  .bg-card {
    background-image: var(--bg-card);
    @apply bg-center bg-cover;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}