@theme {
    --text-xs: 12px;
    --text-xs--line-height: 16px;

    --text-sm: 14px;
    --text-sm--line-height: 20px;

    --text-base: 16px;
    --text-base--line-height: 19.5px;

    --text-lg: 18px;
    --text-lg--line-height: 21.94px;

    --text-xl: 20px;
    --text-xl--line-height: 24.38px;

    --text-2xl: 24px;
    --text-2xl--line-height: 29.26px;

    --text-3xl: 28px;
    --text-3xl--line-height: 50px;

    --text-4xl: 48px;
    --text-4xl--line-height: 58px;

    --text-8xl: 96px;
    --text-8xl--line-height: 106px;

    --font-palanquin: Palanquin, sans-serif;
    --font-montserrat: Montserrat, sans-serif;

    --color-primary: #ECEEFF;
    --color-coral-red: #FF6452;
    --color-slate-gray: #6D6D6D;
    --color-pale-blue: #F5F6FF;
    --color-white-400: rgba(255, 255, 255, 1);

    --shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

    --bg-hero: url('assets/images/collection-background.svg');
    --bg-card: url('assets/images/thumbnail-background.svg');

    --breakpoint-wide: 1440px; /* it's migrated from screens:wide breakpoint of tailwind.config.js  */
}

